* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 120px;
    background-color: #D76E11;
}

.logo {
    padding-top: 35px;
    padding-left: 100px;
}

ul {
    display: flex;
    font-size: 25px;
    padding-right: 80px;
}

li {
    padding-top: 38px;
    padding-right: 125px;
}